{% extends "base.html" %}
{% block content %}
<h2>О нас</h2>
<p>Работа над сайтом началась 4 апреля 2022 года, но идея его создания появилась ещё в сентябре 2021. Тогда был свёрстан (не создателем этого сайта, а его другом) сайт-одностраничник, посвященный творчеству The Beatles. Только спустя время, когда создателю сайта, на котором этот текст написан, выпала возможность сделать сайт с использованием flask'a, идея обрела вторую жизнь.</p>
<p><a href="/prototype">Первая версия сайта от 31-го сентября 2021 года</a></p>
{% endblock %}