{% extends "base.html" %}
{% block content %}
<h2>Каталог песен</h2>
<div class="filter">
    <form class="catalogue-filter" method="post" action="" novalidate>
    {{ form.hidden_tag() }}
        <span>{{ form.genre.label }}</span>
        <span>{{ form.genre }}</span>
        <span>{{ form.submit(type="submit", class="form-submit") }}</span>
        <span><a href="/catalogue">Сбросить фильтр</a></span>
    </form>
</div>
<div class="list">
    <table cellpadding="7px">
        <tr bgcolor="#ffffff">
            <td width="15%">Номер</td>
            <td width="35%">Название</td>
            <td width="35%">Исполнитель</td>
            <td width="15%">Жанр</td>
        </tr>
        {% for song in songs %}
        {% if loop.index % 2 == 0 %}
        <tr bgcolor="#ffffff">
            <td width="15%">{{ loop.index}}</td>
            <td width="35%"><a href={{ "/song/" + song.id|string }}>{{ song.title }}</a></td>
            <td width="35%">{{ song.artist.title }}</td>
            <td width="15%">{{ song.genre.title }}</td>
        </tr>
        {% else %}
        <tr bgcolor="#eeeeee">
            <td width="15%">{{ loop.index }}</td>
            <td width="35%"><a href={{ "/song/" + song.id|string }}>{{ song.title }}</a></td>
            <td width="35%">{{ song.artist.title }}</td>
            <td width="15%">{{ song.genre.title }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
</div>
{% endblock %}