<HTML>
<HEAD>
	<title>Сайт Анонимных Анонимусов</title>
</HEAD>
<BODY bgcolor="c0ffff" link="4040ff" vlink="4040ff">
<p align="center"><font size=5><strong>Тут рады тем, кто шарит за The Beatles!</strong></font></p>

<p><a href="https://www.youtube.com/watch?v=2Q_ZzBGPdqE" title="Help!">
Help!</a></p>


<p><a href="https://www.youtube.com/watch?v=nS5_EQgbuLc" title="Back in the USSR">
Back in the USSR</a></p>

<p><a href="https://www.youtube.com/watch?v=A_MjCqQoLLA" title="Hey Jude">
Hey Jude</a></p>

<p><a href="https://www.youtube.com/watch?v=wXTJBr9tt8Q" title="Yesterday">
Yesterday</a></p>


<p><a href="https://www.youtube.com/watch?v=QDYfEBY9NM4" title="Let it be">
Let it be</a></p>


<p><a href="https://www.youtube.com/watch?v=uLRiGX3L-kw" title="Lady Madonna">
Lady Madonna</a></p>
<img src="static/img/theBeatles.png"/>
</BODY>
</HTML>