{% extends "base.html" %}
{% block content %}
<h4>Запрос: {{ search_title }}</h4>
<h3>Результаты поиска по исполнителям:</h3>
{% if artists %}
<div class="list">
    <table cellpadding="7px" width="100%">
        <tr bgcolor="#ffffff">
            <th width="15%">Номер</th>
            <th width="35%">Название</th>
        </tr>
        {% for artist in artists %}
        {% if loop.index % 2 == 0 %}
        <tr bgcolor="#ffffff">
            <td width="15%">{{ loop.index}}</td>
            <td width="35%"><a href={{ "/artist/" + artist.id|string }}>{{ artist.title }}</a></td>
        </tr>
        {% else %}
        <tr bgcolor="#eeeeee">
            <td width="15%">{{ loop.index}}</td>
            <td width="35%"><a href={{ "/artist/" + artist.id|string }}>{{ artist.title }}</a></td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
</div>
{% else %}
К сожалению, ничего не нашлось
{% endif %}
<h3>Результаты поиска по песням:</h3>
{% if songs %}
<div class="list">
    <table cellpadding="7px" width="100%">
        <tr bgcolor="#ffffff">
            <th width="15%">Номер</th>
            <th width="35%">Название</th>
            <th width="35%">Исполнитель</th>
            <th width="15%">Жанр</th>
        </tr>
        {% for song in songs %}
        {% if loop.index % 2 == 0 %}
        <tr bgcolor="#ffffff">
            <td width="15%">{{ loop.index}}</td>
            <td width="35%"><a href={{ "/song/" + song.id|string }}>{{ song.title }}</a></td>
            <td width="35%">{{ song.artist.title }}</td>
            <td width="15%">{{ song.genre.title }}</td>
        </tr>
        {% else %}
        <tr bgcolor="#eeeeee">
            <td width="15%">{{ loop.index }}</td>
            <td width="35%"><a href={{ "/song/" + song.id|string }}>{{ song.title }}</a></td>
            <td width="35%">{{ song.artist.title }}</td>
            <td width="15%">{{ song.genre.title }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
</div>
{% else %}
К сожалению, ничего не нашлось
{% endif %}
{% endblock %}