{% extends "base.html" %}
{% block content %}
<h2>Регистрация в системе</h2>
<form method="post" class="main" action="" novalidate>
<table cellpadding="5px">
    {{ form.hidden_tag() }}
    <tr>
        <td>{{ form.title.label }}</td>
        <td>{{ form.title(type="title") }}</td>
    </tr>
    <tr>
        <td>{{ form.password.label }}</td>
        <td>{{ form.password(type="password") }}</td>
    </tr>
    <tr>
        <td>{{ form.password_2.label }}</td>
        <td>{{ form.password_2(type="password") }}</td>
    </tr>
    <tr>
        <td>{{ form.submit(type="submit", class="form-submit") }}</td>
        <td>{{ message }}</td>
    </tr>
</table>
</form>
{% endblock %}